:root {
  --brightpink: #dd204c;
  --dark: #474747;
  --darkgreen: #2d522f;
  --darkbrown: #2f170c;
  --greenlogo: #3fac18;
  --light: #fefefe;
  --lightgrey: #efefef;
  --nicepink: #efcef4;
}

/* ==========Helper classes======================= */
.hidden {
  visibility: hiden;
}
.nowrap {
  white-space: nowrap;
}
/* ===================General======================== */
* {
  color: var(--dark);
  font-family: 'PT Sans','Open Sans','Calibri',sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f2f2f2;
  /* text-align: center; */
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
#header {
  position: fixed;
  width: 100%;
  min-width:320px; 
  display: flex;
  justify-content: center;
}
section {
  min-height: 100vh;
  text-align: center;
  margin-bottom: 20vh;
}
section h2 {
  color: #444;
  display: inline-block;
  max-width: 90vw;
  font-size: 2.6em;
  font-weight: lighter;
  padding: 5px;
}
.btn {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
}

/* ====================Intro els for sections================= */
.intro {
  /* margin: 40px auto; */
  /* max-width: 50vw; */
  /* min-width: 320px; */
  /* border: 1px solid #bbb; */
  /* border-radius: 5px; */
  /* background-color: #fff; */
  /* padding: 20px; */
  font-size: 1.3em;
  text-align: justify;
}

/* =============================Header\Nav========================= */
#nav-bar {
  display: flex;
  height : var(--nav-height);
  flex: 1 1 320px;
  background-color: #fff;
}
#nav-bar:after {
    content:"";
    position:absolute;
    width:100%;
    bottom:1px;
    z-index:-1;
/*     transform:scale(.95); */
    /* box-shadow: 0px 0px 3px 1px #777; */
    box-shadow:0px 0px 0px 1px #777;
}

#logo {
/*   order:2; */
  padding:0 10px;
  display: flex;
  align-items: center;
  background-color: #fff;
  /* border-bottom: 1px solid #999; */
  /* font-size: 1.8em; */
  line-height: 56px;
}
#logo:after {
  content: '';
  width: 1px;
  height: 40px;
  background-color: #e7e7e7;
  display: block;
  position: relative;
  left: 2rem;
}
#logo h1{
  color:#fff;
  display: inline;
  font-size: 1.6rem;
  text-shadow:-1px -1px 0 var(--green-for-logo),  
   1px -1px 0 var(--green-for-logo),
   -1px 1px 0 var(--green-for-logo),
   1px 1px 0  var(--green-for-logo);
   /* text-transform: uppercase; */
  
}

#header-img {
  height: 40px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
#nav-bar{
  border-bottom: 1px solid #999;
}
.nav-items {
  /* background-color: #ccc; */
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  /* padding: 20px; */
  list-style: none;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  flex: 1 1 100%;

  width: 100%;
  height: auto;
  z-index: 10;
}
.nav-item{align-self:center;}
.nav-item a {
  text-decoration: none;
}
.nav-item svg {
  vertical-align: middle;
  margin-right: 5px;
}

/*======================= info ======================*/
#info {
  display: grid;
  margin: auto;
  max-width: var(--main-item-w);
  padding-top: var(--nav-height);
  grid-template-areas: 'heading heading'
                       'info-text info-video';
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.section-heading{
  grid-area: heading;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 4;
  place-self: center;
}
#info .intro{
  grid-area: info-text;
  max-width: 50vw;
  min-width: 320px;

}
#info svg{
  position: relative;
  top: 4px;

}
#video{
  grid-area: info-video;
  justify-self: center;
}
.video-responsive {
  text-align: center;
}


/* ==================Donate=========================== */
#donate {
  padding-bottom: 30px;
  text-align: center;
  background-color: #efcef4;
}
#donate h2 {
  margin: 50px 0;
}
.donate-options-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
}
#donate input {
  max-width: 90px;
  font-size: 30px;
  margin-right: 7px;
  box-sizing: border-box;
  padding: 5px;
  align-self:center;
}
.donate-option {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 30vmin;
  min-width: 30vmin;
  margin-right: 15px;
  margin-top: 15px;
  padding: 15px;
  background-color: #f0efef;
  box-shadow: 0 0 1px;
}
.donate-option p span {
  font-size: 3em;
}
.donate-option > .btn {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #25aceb;
  padding: 10px;
  color: #fff;
}

/* ===================================Subscribe================== */
#subscribe form {
  padding-bottom: 40px;
}
#subscribe .btn {
  background-color: #ff3d4b;
  border: none;
  padding: 12px;
  margin: 15px 0;
  margin-left: 10px;
}
#subscribe input {
  padding: 10px;
}
#subscribe {
  box-sizing: content-box;
  height: 50px;
  margin-bottom: 50px;
}
#subscribe.intro {
  text-align: left;
}

/* ======================Footer====================== */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  max-height: 50px;
  background-color: var(--dark);
  text-align: center;
  color: #fff;
}

/* =================================Media-queries======================================== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #info {
    grid-template-columns: 1fr;
    grid-template-areas:
        'heading'
        'info-text'
        'info-video';
  }
  #video {
  justify-self: center;}
  }
  #info .intro{
      max-width: none;
      min-width: none;
  }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {  
  #logo h1, .nav-text {
    display: none;
  }
  .nav-items{
    padding: 0;
  }
  #header-img {
    margin-right: 0px;
  }
 .donate-options-wrapper {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
  }
  .donate-option {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10vmin;
    min-height: 20vmax;
    margin-right: 0;
  }
  section h2{
    font-size: 2em;
  }
}

@media screen and (max-width: 560px) {
  /* .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  } */
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 530px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  #nav-bar {
    flex: 1 1 auto;
  }
  #nav-bar > ul {
    max-width: 100%;
    transition: max-width 0.3s;
  }
  #title {
    white-space: nowrap;
  }
  .nav-bar {
    min-width: 320px;
  }
}